<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志系统</title>
    <!--    <link rel="icon" href="image/log-gather.jpg">-->
    <link rel="icon" href="image/log-gather.jpg">
    <!--必须写在第一个不然报组件找不到的错误-->
    <script type="text/javascript" src="js/vue.min.js"></script>
    <!-- 引入样式 -->
    <!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="css/element-ui-css.css">
    <!-- 引入组件库 -->
    <!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="js/element-ui-js.js"></script>
    <!--    &lt;!&ndash;引入路由库&ndash;&gt;-->
    <!--    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>-->
    <!--引入axios-->
    <!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-container @keyup.enter.native="pageIncrease">
        <el-container>
            <el-link href="index.html" type="primary">应用日志</el-link>
            <el-link href="jvm.html" type="primary">jvm日志</el-link>
            <el-header>
                <h1>后台日志系统(API)</h1>
            </el-header>
            <el-main>
                <!--模态框-->
                <el-dialog
                        title="查询参数"
                        :visible.sync="visible"
                        width="50%">
                    <span v-html="queryParam"></span><br/><br/>
                    <el-button type="primary" @click="visible = false,queryParam=''">确 定</el-button>
                </el-dialog>
                <el-select @change="valueChange" v-model="selectValue.environment" clearable
                           placeholder="environment">
                    <el-option
                            v-for="item in this.agg.environment"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
                <el-select @change="valueChange" v-model="selectValue.method" clearable
                           placeholder="method">
                    <el-option
                            v-for="item in this.agg.method"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
                <el-select @change="valueChange" v-model="selectValue.applicationName" clearable
                           placeholder="applicationName">
                    <el-option
                            v-for="item in this.agg.applicationName"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
                <el-select @change="valueChange" v-model="selectValue.logLevel" clearable placeholder="logLevel">
                    <el-option
                            v-for="item in this.agg.logLevel"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
                <el-select @change="valueChange" v-model="selectValue.host" clearable placeholder="host">
                    <el-option
                            v-for="item in this.agg.host"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
                <el-select @change="valueChange" v-model="selectValue.port" clearable placeholder="port">
                    <el-option
                            v-for="item in this.agg.port"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
                <el-button type="primary" icon="el-icon-search" @click="findData">搜索</el-button>
                <!--搜索框-->
                <el-input @input="valueChange" style="width:400px" size="medium" v-model="message"
                          placeholder="请输入接口uri或者接口名称"></el-input>
                <el-table
                        v-loading="loading"
                        :data="tableData"
                        style="width: 100%">
                    <el-table-column
                            prop="environment"
                            label="环境"
                            width="60">
                    </el-table-column>
                    <el-table-column
                            prop="method"
                            label="请求方法"
                            width="90">
                    </el-table-column>
                    <el-table-column
                            prop="uri"
                            label="uri地址"
                            width="200">
                    </el-table-column>
                    <el-table-column
                            prop="callTime"
                            label="调用时间/ms"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="logLevel"
                            label="日志等级"
                            width="80">
                        <template slot-scope="scope">
                            <div v-if="scope.row.logLevel === 'DEBUG'">
                                <el-tag type="success">{{scope.row.logLevel}}</el-tag>
                            </div>
                            <div v-else-if="scope.row.logLevel === 'INFO'">
                                <el-tag type="info">{{scope.row.logLevel}}</el-tag>
                            </div>
                            <div v-else-if="scope.row.logLevel === 'WARN'">
                                <el-tag type="warning">{{scope.row.logLevel}}</el-tag>
                            </div>
                            <div v-else-if="scope.row.logLevel === 'ERROR'">
                                <el-tag type="danger">{{scope.row.logLevel}}</el-tag>
                            </div>
                            <div v-else>
                                <el-tag>{{scope.row.logLevel}}</el-tag>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="timeStamp"
                            label="日志发生时间"
                            width="200">
                    </el-table-column>
                    <el-table-column
                            prop="apiName"
                            label="接口名称"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="callCount"
                            label="累计调用次数(启动至今)"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="applicationHost"
                            label="应用主机"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="applicationPort"
                            label="应用端口"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="applicationId"
                            label="应用ID"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="applicationName"
                            label="应用名称"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="applicationVersion"
                            label="应用版本"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="applicationDescription"
                            label="应用描述"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            prop="queryParam"
                            label="查询参数"
                            width="100">
                        <template slot-scope="scope">
                            <el-button v-show="scope.row.method == 'GET' "
                                    @click="open(scope.row)" type="text" size="small">查看
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>
            <div class="floating">
                <el-pagination
                        background
                        :page-size="100"
                        layout="prev, pager, next"
                        :total="total"
                        :current-page="currentPage"
                        prev-text="上一页"
                        next-text="下一页"
                        @current-change="pageChange">
                </el-pagination>
            </div>
        </el-container>
    </el-container>
</div>
</body>
<!--&lt;!&ndash;用于引入单文件vue组件&ndash;&gt;-->
<!--<script src="https://unpkg.com/http-vue-loader"></script>-->
<script type="text/javascript">
    // Vue.use(httpVueLoader);
    const vm = new Vue({
        el: '#app',
        data: {
            agg: {},
            tableData: [],
            queryParam: '',
            visible: false,
            <!--输入框值-->
            message: '',
            currentPage: 1,
            maxPage: 0,
            loading: false,
            //是否允许页自增，当页=1说明可以自增
            virtualPage: 1,
            total: 0,
            selectValue: {
                environment: null,
                method: null,
                applicationName: null,
                logLevel: null,
                host: null,
                port: null
            }
        },
        methods: {
            <!--调用栈打开-->
            open(item) {
                this.queryParam = item.queryParam;
                this.visible = true;
            },
            <!--查询数据接口-->
            findData() {
                this.loading = true;
                axios.get("/api/get", {
                    params: {
                        environment: this.selectValue.environment,
                        method: this.selectValue.method,
                        applicationName: this.selectValue.applicationName,
                        logLevel: this.selectValue.logLevel,
                        host: this.selectValue.host,
                        port: this.selectValue.port,
                        pageNo: this.currentPage,
                        message: this.message
                    }
                }).then(rsp => {
                    this.tableData = rsp.data.data;
                    this.agg = rsp.data.agg;
                    this.total = rsp.data.total;
                    this.maxPage = Math.ceil(this.total / 30);
                    this.loading = false;
                })
            },
            <!--页自增-->
            pageIncrease() {
                //超过最大页不请求
                if (this.maxPage == this.currentPage) {
                    return;
                }
                if (this.virtualPage == 1) {
                    this.currentPage = this.currentPage + 1;
                }
                if (this.currentPage == 1) {
                    this.virtualPage = 1;
                    return;
                }
                this.findData();
                this.virtualPage = 1;
            },
            pageChange(val) {
                this.currentPage = val;
                this.findData()
            },
            valueChange() {
                this.currentPage = 1;
                this.virtualPage = 0;
                this.findData();
            }
        },
        mounted() {
            this.findData()
            console.log('钩子被执行')
        }
        // components: {
        //     'log-gather' : 'url:./components/LogGather.vue'
        // }
    });
</script>
<style>
    a {
        width: 90px;
        height: 20px;
        text-align:right;
        position: absolute;
        padding-top: 10px;
    }
    h1 {
        font: bold 50px/100% "宋体", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;;
        color: #409effab;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0px;
    }
    .floating {
        position: fixed;
        _position: absolute;
        bottom: 0px;
        _bottom: 0px;
        right: 500px;
    }
</style>
</html>